h1{
  text-align: center;
  margin-top:40px
}
.container{
  width: 300px;
  height: 300px;
  background-color: yellow;
  margin:auto;
  margin-top: 30px;
  border-radius:20px
}
.header{
   width:500px;
   height:60px;
   background-color: green;
   border-radius:20px
}
.login{
  float:left;
  width: 50%;
  height:60px;
  background-color:blue;
  border-radius:20px;
  display:flex;
  justify-content: center;
  align-items: center;
  color:white;
}

.registration{
  float:right;
  width: 50%;
  height:60px;
  background-color: green;
  border-radius:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white
}
.loginButton{
  width:100%;
  height:60px;
  border-radius:10px;
  font-size: 25px;
  background-color: blue;
  color:#fff;
  border:none;
}
.regButton{
  width:100%;
  height:60px;
  border-radius:10px;
  font-size: 25px;
  background-color: red;
  color:#fff;
  border:none;
}